<h1>Listing attractions</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Tickets</th>
        <th>Details</th>
    </tr>
    <% @attractions.each do |attraction| %>
        <tr>
            <td>
                <%= attraction.name %>
            </td>
            <td>
                <%= attraction.tickets %>
            </td>
            <td>
                <%= attractions_link attraction %>
            </td>
        </tr>
    <% end %>
</table>

<% if current_user.admin == true %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
